# The most common ACARS Drama Feeder Setup in Docker - this is a two SDR setup that caputres ACARS and VDLM2 traffic.
# It also spins up a local copy of ACARS Hub, so you can see your own captured traffic, and establishes ACARS Router to pull it all together and send the data to ACARS Drama.

version: "3.8"

volumes:
  acarshub_run:

services:
  acarsdec:
    image: ghcr.io/sdr-enthusiasts/docker-acarsdec:latest
    tty: true
    container_name: acarsdec
    restart: always
    devices:
      - /dev/bus/usb:/dev/bus/usb
    environment:
      - FEED_ID=BLAH-KDFW-ACARS # change this to be something unique that includes your nearest local airport, once you start feeding, send to a note to feeders [at] acarsdrama.com
      - TZ=Etc/UTC
      - SERIAL=00000000 # The serial number of the SDR you wish to assign to ACARS
      - FREQUENCIES=130.025 # Adjust this to your chosen ACARS Frequencies, seperate them with semi-colons to scan multiple freqs, e.g. 129.350;129.525;129.125
      - SERVER=acars_router
      - SERVER_PORT=5550
    tmpfs:
      - /run:exec,size=64M
      - /var/log

# This is a VDL2
dumpvdl2:
    image: ghcr.io/sdr-enthusiasts/docker-dumpvdl2:latest
    tty: true
    container_name: dumpvdl2
    restart: always
    devices:
      - /dev/bus/usb:/dev/bus/usb
    environment:
      - FEED_ID=BLAH-KDFW-VDL2 # change this to be something unique that includes your nearest local airport, once you start feeding, send to a note to feeders [at] acarsdrama.com
      - TZ=Etc/UTC
      - SERIAL=00000001 # The serial number of the SDR you wish to assign to VDLM2
      - FREQUENCIES=136.975 # Adjust this to your chosen ACARS Frequencies, seperate them with semi-colons to scan multiple freqs, e.g. 136.650;136.975;136.800;136.100;136.675
      - ZMQ_MODE=server
      - ZMQ_ENDPOINT=tcp://0.0.0.0:45555
    tmpfs:
      - /run:exec,size=64M
      - /var/log

# ACARS HUB AND ACARS ROUTER IMAGES - ACARS Hub will listen on http://<ip>:8080

  acarshub:
    image: ghcr.io/sdr-enthusiasts/docker-acarshub:latest
    tty: true
    container_name: acarshub
    hostname: acarshub
    restart: always
    ports:
      - 8080:80
      - 15550:15550
      - 15555:15555
    environment:
      - TZ=Etc/UTC
      - ADSB_LAT=${FEEDER_LAT}
      - ADSB_LON=${FEEDER_LONG}
      - ENABLE_ADSB=false
      - ENABLE_ACARS=external
      - ENABLE_VDLM=external
    volumes:
      - acarshub_run:/run/acars
    tmpfs:
      - /run:exec,size=64M
      - /var/log

  acars_router:
    image: ghcr.io/sdr-enthusiasts/acars_router:latest
    tty: true
    container_name: acars_router
    restart: always
    environment:
      - TZ=Etc/UTC
      - AR_SEND_UDP_ACARS=acarshub:5550;feedthe.acarsdrama.com:5550
      - AR_SEND_UDP_VDLM2=acarshub:5555;feedthe.acarsdrama.com:5555
      - AR_RECV_ZMQ_VDLM2=dumpvdl2:45555
    tmpfs:
      - /run:exec,size=64M
      - /var/log
