# The most common ACARS Drama Feeder Setup in Docker - this is a single SDR setup that caputres ACARS traffic.
# It also spins up a local copy of ACARS Hub, so you can see your own captured traffic, and establishes ACARS Router to pull it all together and send the data to ACARS Drama.

version: "3.8"

volumes:
  acarshub_run:

services:
  acarsdec:
    image: ghcr.io/sdr-enthusiasts/docker-acarsdec:latest
    tty: true
    container_name: acarsdec
    restart: always
    devices:
      - /dev/bus/usb:/dev/bus/usb
    environment:
      - FEED_ID=BLAH-KDFW-ACARS # change this to be something unique that includes your nearest local airport, once you start feeding, send to a note to feeders [at] acarsdrama.com
      - TZ=Etc/UTC
      - SERIAL=00000000 # The serial number of the SDR you wish to assign to ACARS
      - FREQUENCIES=130.025 # Adjust this to your chosen ACARS Frequencies, seperate them with semi-colons to scan multiple freqs, e.g. 129.350;129.525;129.125
      - SERVER=acars_router
      - SERVER_PORT=5550
    tmpfs:
      - /run:exec,size=64M
      - /var/log

# ACARS HUB AND ACARS ROUTER IMAGES - ACARS Hub will listen on http://<ip>:8080

  acarshub:
    image: ghcr.io/sdr-enthusiasts/docker-acarshub:latest
    tty: true
    container_name: acarshub
    hostname: acarshub
    restart: always
    ports:
      - 8080:80
      - 15550:15550
    environment:
      - TZ=Etc/UTC
      - ADSB_LAT=${FEEDER_LAT}
      - ADSB_LON=${FEEDER_LONG}
      - ENABLE_ADSB=false
      - ENABLE_ACARS=external
    volumes:
      - acarshub_run:/run/acars
    tmpfs:
      - /run:exec,size=64M
      - /var/log

  acars_router:
    image: ghcr.io/sdr-enthusiasts/acars_router:latest
    tty: true
    container_name: acars_router
    restart: always
    environment:
      - TZ=Etc/UTC
      - AR_SEND_UDP_ACARS=acarshub:5550;feedthe.acarsdrama.com:5550
    tmpfs:
      - /run:exec,size=64M
      - /var/log
